<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>YJwork</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="header_mid_sort"></div>
		</div>
		<div class="container">
			<div class="container_mid_sort">
				<div class="login_container">
					<h1 id="title_link"><a href="/login">YJwork</a></h1>
					<form action="login" method="POST">
						<div class="form-id"><input class="text_input" type="text" placeholder="ID" name="ID" id="ID"></div>
						<div class="form-password"><input class="text_input" type="text" placeholder="PW" name="PW" id="PW"></div>
						<div class="form-submit"><input type="submit" value="로그인"></div>
					</form>
					<hr id="login_under_line">
					<span class="help"><a href="user/newAccount">회원가입</a></span> &#124;
					<span class="help"><a href="user/findoutId">아이디 찾기</a></span> &#124;
					<span class="help"><a href="user/findoutPw">비밀번호 찾기</a></span>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer_mid_sort">
				<span id="footer_discription">개발자 문의 이메일 dbswhddnr456@naver.com &nbsp;&nbsp;&nbsp; 운용자 문의 이메일 example@naver.com</span>
			</div>
		</div>
	</div>
</body>
</html>